<div ng-controller="addNewUserCtrl" ui-view class="fade-in-up" ng-cloak>

	<!-- start: New User Page Title -->
	<section id="page-title">
		<div class="row">

			<!-- Include Breadcrumbs -->
			<div ncy-breadcrumb></div>

		</div>
	</section>
	<!-- end: New User Page Title -->

	<!-- start: Register an Assistant or Patient Form -->
	<div class="container-fluid container-fullw bg-white">
		<form name="addNewUserForm" id="form1" novalidate>
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<fieldset>
						<legend>
							Add New User
						</legend>

						<!-- User Type Selection -->
						<div class="form-group" style="margin-bottom: 0px;">
							<label>User Role<span class="symbol required"></span></label>

							<div class="radio clip-radio radio-primary" ng-init="newUser.role = 'patient'">
								<input type="radio" id="rdPatient" name="vertical1" value="patient" ng-model="newUser.role" checked>
								<label for="rdPatient">
									Patient
								</label>
								<input type="radio" id="rdAssistant" name="vertical2" value="assistant" ng-if="currentUser.role != 'Assistant'" ng-model="newUser.role">
								<label for="rdAssistant" ng-if="currentUser.role != 'Assistant'">
									Assistant
								</label>
							</div>
						</div>

						<!-- Personal Information -->
						<!-- First name form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': addNewUserForm.firstName.$invalid && !addNewUserForm.firstName.$pristine, 'has-success':addNewUserForm.firstName.$valid }">
							<label>
								First Name <span class="symbol required"></span>
							</label>

							<!-- ng-pattern: Regular Expressions for Input -->
							<input type="text" name="firstName" class="form-control" placeholder="Enter first name" ng-model="newUser.firstname" ng-pattern="/^([^0-9.~!@#$%&*()_+=;:?><,.]*)$/" required>
							<span class="error text-small block" ng-if="addNewUserForm.firstName.$dirty && addNewUserForm.firstName.$invalid">Enter a valid first name.</span>
						</div>

						<!-- Middle name form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': addNewUserForm.middleName.$invalid, 'has-success':addNewUserForm.middleName.$valid }">
							<label>
								Middle Name
							</label>

							<!-- ng-pattern: Regular Expressions for Input -->
							<input type="text" name="middleName" class="form-control" placeholder="Enter middle name" ng-model="newUser.middlename" ng-pattern="/^([^0-9.~!@#$%&*()_+=;:?><,.]*)$/">
							<span class="error text-small block" ng-if="addNewUserForm.middleName.$dirty && addNewUserForm.middleName.$invalid">Enter a valid middle name.</span>
						</div>

						<!-- Last name form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': addNewUserForm.lastName.$invalid && !addNewUserForm.lastName.$pristine, 'has-success':addNewUserForm.lastName.$valid }">
							<label class="control-label">
								Last Name <span class="symbol required"></span>
							</label>
							<input type="text" name="lastName" class="form-control" placeholder="Enter last name" ng-model="newUser.lastname" ng-pattern="/^([^0-9.~!@#$%&*()_+=;:?><,.]*)$/" required>
							<span class="error text-small block" ng-if="addNewUserForm.lastName.$dirty && addNewUserForm.lastName.$invalid">Enter a valid last name.</span>
						</div>

						<!-- Social security number form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': addNewUserForm.ssn.$invalid && !addNewUserForm.ssn.$pristine, 'has-success':addNewUserForm.ssn.$valid }">
							<label class="control-label">
								Social Security Number (SSN) <span class="symbol required"></span>
							</label>
							<input type="password" name="ssn" class="form-control" placeholder="Enter social security number" ng-model="newUser.ssn" maxlength="9" ng-pattern="/^(\d{3}-?\d{2}-?\d{4}|XXX-XX-XXXX)$/" ssn-input required>
							<span class="error text-small block" ng-if="addNewUserForm.ssn.$dirty && addNewUserForm.ssn.$invalid">Enter a valid social security number.</span>
						</div>

						<!-- Gender form selection and validation -->
						<div class="form-group" style="margin-bottom: 5px;">
							<label class="block">
								Gender <span class="symbol required"></span>
							</label>
							<div class="clip-radio radio-primary">
								<input type="radio" id="female" name="gender" value="F" checked="checked" ng-model="newUser.gender">
								<label for="female">
									Female
								</label>
								<input type="radio" id="male" name="gender" value="M" ng-model="newUser.gender">
								<label for="male">
									Male
								</label>
							</div>
						</div>

						<!-- Birthday form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': addNewUserForm.birthDate.$invalid && !addNewUserForm.birthDate.$pristine, 'has-success':addNewUserForm.birthDate.$valid }">
							<label>
								Birth Date <span class="symbol required"></span>
							</label>
							<div class="form-group">
								<input type="date" placeholder="Enter birth date" name="birthDate" class="form-control" ng-model="newUser.birthdate" required>
								<span class="error text-small block" ng-if="addNewUserForm.birthDate.$dirty && addNewUserForm.birthDate.$invalid">Enter a valid birth date.</span>
							</div>
						</div>

						<!-- Insurance company form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': addNewUserForm.insuranceCompany.$invalid, 'has-success':addNewUserForm.insuranceCompany.$valid }" ng-if="newUser.role == 'patient'">
							<label>
								Insurance Company
							</label>
							<input type="text" name="insuranceCompany" class="form-control" placeholder="Enter insurance company" ng-model="newUser.insurancecompanyname" ng-pattern="/[\w\s]+/">
							<span class="error text-small block" ng-if="addNewUserForm.insuranceCompany.$dirty && addNewUserForm.insuranceCompany.$invalid">Enter a valid insurance company name.</span>
						</div>	

						<!-- Medical record number form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': addNewUserForm.recordNumber.$invalid && !addNewUserForm.recordNumber.$pristine, 'has-success':addNewUserForm.recordNumber.$valid }" ng-if="newUser.role == 'patient'">
							<label>
								Record Number <span class="symbol required"></span>
							</label>
							<div class="form-group">
								<input type="text" placeholder="Enter medical record number" name="recordNumber" class="form-control" ng-model="newUser.recordno" maxlength="9" ng-disabled="newUser.role == 'assistant'" required>
								<span class="error text-small block" ng-if="addNewUserForm.recordNumber.$dirty && addNewUserForm.recordNumber.$invalid">Enter a valid record number.</span>
							</div>
						</div>

						<!-- Contact Information -->
						<!-- Phone number form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': addNewUserForm.phoneNumber.$invalid && !addNewUserForm.phoneNumber.$pristine, 'has-success':addNewUserForm.phoneNumber.$valid }">
							<label for="form-field-mask-2">
								Phone Number <span class="symbol required"></span>
							</label>
							<div class="input-group">
								<input type="text" class="form-control" name="phoneNumber" placeholder="xxx-xxx-xxxx" ng-model="newUser.phone" ng-pattern="/^(\+0?1\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$|(^\d{10}$)/" maxlength="10" required>
								<span class="error text-small block" ng-if="addNewUserForm.phoneNumber.$dirty && addNewUserForm.phoneNumber.$invalid">Enter a valid phone number.</span>
							</div>
						</div>

						<!-- Street address form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': addNewUserForm.addressLine1.$invalid && !addNewUserForm.addressLine1.$pristine, 'has-success':addNewUserForm.addressLine1.$valid }">
							<label>
								Address Line #1 <span class="symbol required"></span>
							</label>
							<input type="text" name="addressLine1" class="form-control" placeholder="Enter address" ng-model="newUser.street" ng-pattern="/[\w\s]+/" required>
							<span class="error text-small block" ng-if="addNewUserForm.addressLine1.$dirty && addNewUserForm.addressLine1.$invalid">Enter a valid address.</span>
						</div>	

						<div class="form-group">
							<label>
								Address Line #2
							</label>
							<input type="text" name="addressLine2" class="form-control" placeholder="Enter address" ng-model="newUser.aptno" ng-pattern="/[\w\s]+/">
							<span class="error text-small block" ng-if="addNewUserForm.addressLine2.$dirty && addNewUserForm.addressLine2.$invalid">Enter a valid address.</span>
						</div>

						<!-- City form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': addNewUserForm.city.$invalid && !addNewUserForm.city.$pristine, 'has-success':addNewUserForm.city.$valid }">
							<label>
								City <span class="symbol required"></span>
							</label>
							<input type="text" name="city" class="form-control" placeholder="Enter city" ng-model="newUser.city" ng-pattern="/^([^0-9.~!@#$%&*()_+=;:?><,.]*)$/" required>
							<span class="error text-small block" ng-if="addNewUserForm.city.$dirty && addNewUserForm.city.$invalid">Enter a valid city.</span>
						</div>

						<!-- State form selection and validation -->
						<div class="form-group">
							<label>
								State
							</label>
							<input type="text" name="state" class="form-control" placeholder="Enter state" ng-model="newUser.st" ng-pattern="/[\w\s]+/">
							<span class="error text-small block" ng-if="addNewUserForm.state.$dirty && addNewUserForm.state.$invalid">Enter a valid state.</span>
						</div>

						<!-- Country or Region form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': addNewUserForm.countryRegion.$invalid && !addNewUserForm.countryRegion.$pristine, 'has-success':addNewUserForm.countryRegion.$valid }">
							<label>
								Country or Region <span class="symbol required"></span>
							</label>
							<input type="text" name="countryRegion" class="form-control" placeholder="Enter country or region" ng-model="newUser.country" ng-pattern="/[\w\s]+/" required>
							<span class="error text-small block" ng-if="addNewUserForm.countryRegion.$dirty && addNewUserForm.countryRegion.$invalid">Enter a valid country or region.</span>
						</div>	

						<!-- Zip code form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': addNewUserForm.zipCode.$invalid && !addNewUserForm.zipCode.$pristine, 'has-success':addNewUserForm.zipCode.$valid }">
							<label>
								Zip Code <span class="symbol required"></span>
							</label>
							<input type="text" name="zipCode" class="form-control" placeholder="Enter zipcode" ng-model="newUser.zipcode" maxlength="5" minlength="5" ng-pattern="/^([0-9])*$/" required>
							<span class="error text-small block" ng-if="addNewUserForm.city.$dirty && addNewUserForm.city.$invalid">Enter a valid zip code.</span>
						</div>	

						<!-- Email form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': addNewUserForm.email.$invalid, 'has-success':addNewUserForm.email.$valid }">
							<label>
								Email
							</label>
							<div class="form-group">
								<input type="email" placeholder="Enter email" class="form-control" ng-model="newUser.email" ng-pattern="/.+@.+\..+/">
								<span class="error text-small block" ng-if="addNewUserForm.email.$dirty && addNewUserForm.email.$invalid">Enter a valid email address.</span>
							</div>
						</div>

						<!-- Login Information -->
						<!-- Username form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': addNewUserForm.username.$invalid && !addNewUserForm.username.$pristine, 'has-success':addNewUserForm.username.$valid }">
							<label>
								Username <span class="symbol required"></span>
							</label>
							<div class="form-group">
								<input type="text" placeholder="Enter a username" name="username" id="username" class="form-control" ng-model="newUser.username" ng-pattern="/^[-\w\.\$@\*\!]{1,30}$/" required>
								<span class="error text-small block" ng-if="addNewUserForm.username.$dirty && addNewUserForm.username.$invalid">Enter a valid username.</span>
							</div>
						</div>

						<!-- Password form input and validation -->
						<div class="form-group" ng-class="{'has-error':addNewUserForm.password.$dirty && addNewUserForm.password.$invalid, 'has-success':addNewUserForm.password.$valid}">
							<label>
								Temporary Password <span class="symbol required"></span>
							</label>
							<input type="password" placeholder="Enter a temporary password" class="form-control" name="password" ng-model="newUser.pssword" maxlength="24" minlength="8" ng-pattern="/^(?=^.{8,25}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[~`!@$%^&*()_+?><-]).*$/" required/>
							<span class="help-block"><i class="ti-info-alt text-primary"></i>   Password must be 8 to 24 characters, include a special character (must not be '#'), a number (0-9), and an uppercase letter (A-Z).</span>
							<span class="error text-small block" ng-if="addNewUserForm.password.$dirty && addNewUserForm.password.$invalid && addNewUserForm.password.$error.required">Enter a valid password (8 to 24 characters, include at least one special character and one uppercase letter)</span>
						</div>

						<!-- Password confirmation form input and validation -->
						<div class="form-group" ng-class="{'has-error':addNewUserForm.confirmPassword.$dirty && addNewUserForm.confirmPassword.$error.compareTo || addNewUserForm.confirmPassword.$dirty && addNewUserForm.confirmPassword.$invalid, 'has-success':addNewUserForm.confirmPassword.$valid}">
							<label>
								Repeat Password <span class="symbol required"></span>
							</label>
							<input type="password" placeholder="Repeat temporary password" class="form-control" id="confirmPassword" ng-model="newUser.confirmPassword" required/>
							<span class="error text-small block" ng-if="addNewUserForm.confirmPassword.$dirty && addNewUserForm.confirmPassword.$invalid && addNewUserForm.confirmPassword.$error.required">Re-enter a valid password.</span>
							<span class="error text-small block" ng-if="addNewUserForm.confirmPassword.$dirty">Passwords do not match. Please try again.</span>
						</div>

						<!-- Action buttons -->
						<div class="form-group" style="margin-top: 15px;">
							<a class="btn btn-red" ui-sref="app.users.manage_users" style="float: right">Cancel</a>
							<button class="btn btn-primary" type="submit" ng-click="addUser();" ng-disabled="addNewUserForm.$invalid || !newUser.gender || !newUser.role || newUser.pssword != newUser.confirmPassword" style="float: right; margin-right: 15px;">Submit</button>
						</div>
					</fieldset>
				</div>
				<!-- end: Edit Profile Button -->

			</div>
		</form>
	</div>
