<!-- start: Admin (Doctor and Assistant) Login Page -->
<div ng-class="{'app-navbar-fixed': app.layout.isNavbarFixed == false}"></div>
<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4" ng-controller='adminLoginCtrl'>

        <!-- start: Admin (Doctor and Assistant) Login Form -->
        <div class="box-login">
            <form class="form-login">
                <fieldset>
                    <legend style="top: -20px; font-size: 20px;">
                        <img src="static/assets/images/ecsp-logo.png" alt="{{app.name}}" width="25" height="45" style="margin-right: 10px;"> Welcome to eCSP
                    </legend>
                    <div style="margin-bottom:-5px;">
                        <label style="margin-right: 10px;font-size:14px;color: #0079ff;margin-bottom:0px;"><span class="symbol required" style="margin-right:5px;"></span>Login as:</label>
                        <div class="radio clip-radio radio-primary" style="display:inline-flex;">
                            <input type="radio" id="rdDoctor" value="doctor" ng-model="credentials.role">
                            <label for="rdDoctor" style="font-size:13px;margin-right:10px;color:#383737">
                                Doctor
                            </label>
                            <input type="radio" id="rdAssistant" value="assistant" ng-model="credentials.role">
                            <label for="rdAssistant" style="font-size:13px;color:#383737">
                                Assistant
                            </label>
                        </div>
                    </div>
                        <div class="form-group" style="margin-top: 5px;">
                            <span class="input-icon">
                                <input type="text" class="form-control" ng-model="credentials.username" placeholder="Username" style="margin-top: 25px;" autofocus>
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <div class="form-group form-actions">
                            <span class="input-icon">
                                <input type="password" class="form-control password" ng-model="credentials.password" placeholder="Password">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary pull-right" ng-click="validateLogin(credentials.username, credentials.password, credentials.role)" ng-disabled="!credentials.username || !credentials.password || !credentials.role">
                                Login <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>

            <!-- start: eCSP Information -->
            <div class="copyright">
                <a href="https://www.doctorsegarra.com">wwww.doctorsegarra.com</a> | <a onclick="window.open('/#/home/contactUs')"> Contact Us</a> | {{app.year}} {{ app.author }}
            </div>
            <!-- end: eCSP Information -->

        </div>
        <!-- end: Admin (Doctor and Assistant) Login Form -->
    </div>
</div>
<!-- end: Admin (Doctor and Assistant) Login Page -->
