<div ui-view class="fade-in-up">
	<section id="page-title">
		<div class="row">

			<!-- Include breadcrumbs -->
			<div ncy-breadcrumb></div>
		</div>
	</section>

	<div class="container-fluid container-fullw bg-white" ng-controller="consultationDetailsCtrl">
		<div class="row">
			<div class="col-md-12" style="padding-right: 100px; padding-left: 50px;">
				
				<h2><span class="text-bold">Patient: </span>{{ chosenRecord.lName }}, {{ chosenRecord.fName }} {{ chosenRecord.mName }}</h2>
				<br>

				<!-- start: Consultation Details Search Form -->
				<form>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-search"></i></div>
							<input type="text" class="form-control" placeholder="Search Documents" ng-model="consultationDetailsSearch">
						</div>      
					</div>
				</form>
				<!-- end: Consultation Details Search Form -->

				<!-- start: Table of Patients -->
				<div class="table-responsive">
					<table class="table table-hover" style="width=50%;" ng-table="tableParams" template-pagination="custom/pager">
						<thead>
							<tr>
								<td>
									<a href="#" ng-click="sortType = 'documentName'; sortReverse = !sortReverse">
										Document Name
										<span ng-show="sortType == 'documentName' && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == 'documentName' && sortReverse" class="fa fa-caret-up"></span>
									</a>
								</td>
								<td>
									<a href="#" ng-click="sortType = 'documentType'; sortReverse = !sortReverse">
										Type of Document
										<span ng-show="sortType == 'documentType' && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == 'documentType' && sortReverse" class="fa fa-caret-up"></span>
									</a>
								</td>
								<td>
									<a href="#" ng-click="sortType = 'uploadDate'; sortReverse = !sortReverse">
										Date Uploaded 
										<span ng-show="sortType == 'uploadDate' && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == 'uploadDate' && sortReverse" class="fa fa-caret-up"></span>
									</a>
								</td>
								<td>
									<a href="#" ng-click="sortType = 'uploadedBy'; sortReverse = !sortReverse">
										Uploaded By 
										<span ng-show="sortType == 'uploadedBy' && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == 'uploadedBy' && sortReverse" class="fa fa-caret-up"></span>
									</a>
								</td>
								<td>
									Action
								</td>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="document in $data | orderBy:sortType:sortReverse | filter:consultationDetailsSearch">
								<td> <i class="fa fa-file-text" style="margin-right: 5px;"></i> {{ document.filename }}</td>
								<td>{{ document.typeDisplayName }}</td>
								<td>{{ document.dateofupload }}</td>
								<td>{{ document.sign }}</td>
								<td> 
									<!-- Download File Button -->
									<button class="btn btn-wide btn-blue" ng-click="download(document.patientid, document.type, document.fileid)">
										<i class="fa fa-download fa-inverse" style="margin-right: 5px;"></i> Download
									</button>

								</td>
							</tr>
						</tbody>
					</table>

					<!-- Script for pagination -->
					<script type="text/ng-template" id="custom/pager">
						<ul class="pager ng-cloak">
							<li ng-repeat="page in pages"
							ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
							ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
							<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
							<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
						</li>
						<li>
							<div class="btn-group">
								<label style="margin-top:10px;float:left;margin-right: 10px;">Show Files:</label>
								<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
								<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
								<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
								<button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
							</div>
						</li>
					</ul>
					</script>
				</div>
			<!-- end: Table of Patients -->

				<!-- start: Upload Button -->
				<form>
					<div class="form-group">
						<button type="button" class="btn btn-wide btn-primary" ng-click="open()" style="float:left;  margin-top: -5px">
							<i class="fa fa-upload fa-inverse" style="margin-right: 5px;;"></i> Upload File
						</button>
						<span class="help-inline col-md-4 col-sm-6"> <i class="ti-info-alt text-primary"></i> Document must be PDF (*.pdf) </span>
					</div>
				</form>
				<!-- end: Upload Button -->

			</div>
		</div>
	</div>
</div>

<!-- Modal Instance Scripts -->
<script type="text/ng-template" id="modal_upload.html">
	<div class="modal-header">
		<h3 class="modal-title">Upload a file</h3>
	</div>
	<div class="modal-body">
		<h5 style="font-size: 16px; margin-bottom: 0px;">Select file type: 
			<select class="cs-select cs-skin-elastic" style="width: 140px;" ng-model="fileType">
				<option value="" disabled selected>-- None --</option>
				<option value="consultationnote">Consultation Note</option>
				<option value="initialform">Initial Form</option>
				<option value="prescription">Prescription</option>
				<option value="referral">Referral</option>
				<option value="result">Result</option>
			</select>
		</h5>
		</br>

		<h5 style="font-size: 16px; margin-bottom: 0px;">Select a file: 
			<span class="btn btn-primary btn-o btn-sm btn-file"> Choose File
				<input type="file" nv-file-select="" uploader="uploader" accept=".pdf"  />
			</span>
			<span>{{uploader.queue[0].file.name}}</span>
		</h5>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="upload();" ng-disabled="!uploader.getNotUploadedItems().length || !fileType"><span class="glyphicon glyphicon-upload"></span>Upload</button>
		<button class="btn btn-red" ng-click="cancel()">Cancel</button>
	</div>
</script>