<div ng-controller="editPatientProfileCtrl" ui-view class="fade-in-up">

	<section id="page-title">
		<div class="row">

			<!-- Include breadcrumbs -->
			<div ncy-breadcrumb></div>

		</div>
	</section>

	<!-- start: Edit Patient User Profile -->
	<div class="container-fluid container-fullw bg-white">
		<form name="editPatientForm" id="form1" novalidate>
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<fieldset>

						<!-- Personal Information -->
						<!-- First name form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editPatientForm.firstName.$invalid && !editPatientForm.firstName.$pristine, 'has-success':editPatientForm.firstName.$valid }">
							<label>
								First Name <span class="symbol required"></span>
							</label>

							<!-- ng-pattern: Regular Expressions for Input -->
							<input type="text" name="firstName" class="form-control" placeholder="Enter first name" ng-model="chosenPatient.firstName" ng-pattern="/^([^0-9.~!@#$%&*()_+=;:?><,.]*)$/" required>
							<span class="error text-small block" ng-if="editPatientForm.firstName.$dirty && editPatientForm.firstName.$invalid">Enter a valid first name.</span>
						</div>

						<!-- Middle name form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editPatientForm.middleName.$invalid, 'has-success':editPatientForm.middleName.$valid }">
							<label class='control-label'>
								Middle Name
							</label>

							<!-- ng-pattern: Regular Expressions for Input -->
							<input type="text" name="middleName" class="form-control" placeholder="Enter middle name" ng-model="chosenPatient.middleName" ng-pattern="/^([^0-9.~!@#$%&*()_+=;:?><,.]*)$/">
							<span class="error text-small block" ng-if="editPatientForm.middleName.$dirty && editPatientForm.middleName.$invalid">Enter a valid middle name.</span>
						</div>

						<!-- Last name form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editPatientForm.lastName.$invalid && !editPatientForm.lastName.$pristine, 'has-success':editPatientForm.lastName.$valid }">
							<label class="control-label">
								Last Name <span class="symbol required"></span>
							</label>
							<input type="text" name="lastName" class="form-control" placeholder="Enter last name" ng-model="chosenPatient.lastName" ng-pattern="/^([^0-9.~!@#$%&*()_+=;:?><,.]*)$/" required>
							<span class="error text-small block" ng-if="editPatientForm.lastName.$dirty && editPatientForm.lastName.$invalid">Enter a valid last name.</span>
						</div>	

						<!-- Insurance company form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editPatientForm.insuranceCompany.$invalid, 'has-success':editPatientForm.insuranceCompany.$valid }">
							<label>
								Insurance Company
							</label>
							<input type="text" name="insuranceCompany" class="form-control" placeholder="Enter insurance company" ng-model="chosenPatient.insuranceCompany" ng-pattern="/[\w\s]+/">
							<span class="error text-small block" ng-if="editPatientForm.insuranceCompany.$dirty && editPatientForm.insuranceCompany.$invalid">Enter a valid insurance company name.</span>
						</div>

						<!-- Contact Information -->
						<!-- Phone number form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editPatientForm.phoneNumber.$invalid && !editPatientForm.phoneNumber.$pristine, 'has-success':editPatientForm.phoneNumber.$valid }">
							<label for="form-field-mask-2">
								Phone Number <span class="symbol required"></span>
							</label>
							<div class="input-group">
								<input type="text" class="form-control" name="phoneNumber" placeholder="xxx-xxx-xxxx" ng-model="chosenPatient.phoneNumber" ng-pattern="/^(\+0?1\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$|(^\d{10}$)/" ng-max-length="12" required>
								<span class="error text-small block" ng-if="editPatientForm.phoneNumber.$dirty && editPatientForm.phoneNumber.$invalid">Enter a valid phone number.</span>
							</div>
						</div>

						<!-- Street address form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editPatientForm.addressLine1.$invalid && !editPatientForm.addressLine1.$pristine, 'has-success':editPatientForm.addressLine1.$valid }">
							<label>
								Address Line #1 <span class="symbol required"></span>
							</label>
							<input type="text" name="addressLine1" class="form-control" placeholder="Enter address" ng-model="chosenPatient.addressLine1" ng-pattern="/[\w\s]+/" required>
							<span class="error text-small block" ng-if="editPatientForm.addressLine1.$dirty && editPatientForm.addressLine1.$invalid">Enter a valid address.</span>
						</div>	

						<div class="form-group" ng-class="{ 'has-error': editPatientForm.addressLine2.$invalid, 'has-success':editPatientForm.addressLine2.$valid }">
							<label class='control-label'>
								Address Line #2
							</label>
							<input type="text" name="addressLine2" class="form-control" placeholder="Enter address" ng-model="chosenPatient.addressLine2" ng-pattern="/[\w\s]+/">
							<span class="error text-small block" ng-if="editPatientForm.addressLine2.$dirty && editPatientForm.addressLine2.$invalid">Enter a valid address.</span>
						</div>

						<!-- State form selection and validation -->
						<div class="form-group" ng-class="{ 'has-error': editPatientForm.state.$invalid, 'has-success': editPatientForm.state.$valid }">
							<label>
								State <span class="symbol required"></span>
							</label>
							<select name="state" class="cs-select cs-skin-elastic" ng-model="chosenPatient.state" required>
								<option value="">-- None --</option>
								<option value="PR">Puerto Rico</option>
								<option value="AL">Alabama</option>
								<option value="AK">Alaska</option>
								<option value="AZ">Arizona</option>
								<option value="AR">Arkansas</option>
								<option value="CA">California</option>
								<option value="CO">Colorado</option>
								<option value="CT">Connecticut</option>
								<option value="DE">Delaware</option>
								<option value="FL">Florida</option>
								<option value="GA">Georgia</option>
								<option value="HI">Hawaii</option>
								<option value="ID">Idaho</option>
								<option value="IL">Illinois</option>
								<option value="IN">Indiana</option>
								<option value="IA">Iowa</option>
								<option value="KS">Kansas</option>
								<option value="KY">Kentucky</option>
								<option value="LA">Louisiana</option>
								<option value="ME">Maine</option>
								<option value="MD">Maryland</option>
								<option value="MA">Massachusetts</option>
								<option value="MI">Michigan</option>
								<option value="MN">Minnesota</option>
								<option value="MS">Mississippi</option>
								<option value="MO">Missouri</option>
								<option value="MT">Montana</option>
								<option value="NE">Nebraska</option>
								<option value="NV">Nevada</option>
								<option value="NH">New Hampshire</option>
								<option value="NJ">New Jersey</option>
								<option value="NM">New Mexico</option>
								<option value="NY">New York</option>
								<option value="NC">North Carolina</option>
								<option value="ND">North Dakota</option>
								<option value="OH">Ohio</option>
								<option value="OK">Oklahoma</option>
								<option value="OR">Oregon</option>
								<option value="PA">Pennsylvania</option>
								<option value="RI">Rhode Island</option>
								<option value="SC">South Carolina</option>
								<option value="SD">South Dakota</option>
								<option value="TN">Tennessee</option>
								<option value="TX">Texas</option>
								<option value="UT">Utah</option>
								<option value="VT">Vermont</option>
								<option value="VA">Virginia</option>
								<option value="WA">Washington</option>
								<option value="WV">West Virginia</option>
								<option value="WI">Wisconsin</option>
								<option value="WY">Wyoming</option>
							</select>
						</div>

						<!-- City form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editPatientForm.city.$invalid && !editPatientForm.city.$pristine, 'has-success':editPatientForm.city.$valid }">
							<label>
								City <span class="symbol required"></span>
							</label>
							<input type="text" name="city" class="form-control" placeholder="Enter city" ng-model="chosenPatient.city" ng-pattern="/^([^0-9.~!@#$%&*()_+=;:?><,.]*)$/" required>
							<span class="error text-small block" ng-if="editPatientForm.city.$dirty && editPatientForm.city.$invalid">Enter a valid city.</span>
						</div>

						<!-- Country or Region form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editPatientForm.countryRegion.$invalid && !editPatientForm.countryRegion.$pristine, 'has-success':editPatientForm.countryRegion.$valid }">
							<label>
								Country or Region <span class="symbol required"></span>
							</label>
							<input type="text" name="countryRegion" class="form-control" placeholder="Enter country or region" ng-model="chosenPatient.countryRegion" ng-pattern="/[\w\s]+/" required>
							<span class="error text-small block" ng-if="editPatientForm.countryRegion.$dirty && editPatientForm.countryRegion.$invalid">Enter a valid country or region.</span>
						</div>

						<!-- Zip code form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editPatientForm.zipCode.$invalid && !editPatientForm.zipCode.$pristine, 'has-success':editPatientForm.zipCode.$valid }">
							<label>
								Zip Code <span class="symbol required"></span>
							</label>
							<input type="text" name="zipCode" class="form-control" placeholder="Enter zipcode" ng-model="chosenPatient.zipCode" maxlength="5" minlength="5" required>
							<span class="error text-small block" ng-if="editPatientForm.city.$dirty && editPatientForm.city.$invalid">Enter a valid zip code.</span>
						</div>	

						<!-- Email form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editPatientForm.email.$invalid && !editPatientForm.email.$pristine, 'has-success':editPatientForm.email.$valid }">
							<label class='control-label'>
								Email
							</label>
							<div class="form-group">
								<input type="email" placeholder="Enter email" name="email" class="form-control" ng-model="newUser.email" ng-pattern="/.+@.+\..+/">
								<span class="error text-small block" ng-if="editPatientForm.email.$dirty && editPatientForm.email.$invalid">Enter a valid email address.</span>
							</div>
						</div>

						<!-- Password form input and validation -->
						<div class="form-group">
							<label>
								New Password
							</label>
							<input type="password" class="form-control" ng-model="assistant.password" placeholder="Enter new password">
						</div>
						<div class="form-group">
							<label>
								Re-Type Password
							</label>
							<input type="password" placeholder="Re-type the new password" name="password" id="password" class="form-control">
						</div>

						<div class="form-group" style="margin-top: 15px;">
							<a class="btn btn-red" ui-sref="app.users.manage_users.manage_patients.view_profile" style="float: right">Cancel</a>
							<a class="btn btn-primary" ng-click="open('sm')" style="float: right; margin-right: 15px;">Save Changes</a>
						</div>

					</fieldset>
				</div>
				<!-- end: Edit Profile Button -->

			</div>
		</form>
	</div>
	<!-- end: View Current User Profile -->

	<!-- Modal Instance Script -->
	<script type="text/ng-template" id="modal1.html">
		<div class="modal-header">
			<h3 class="modal-title">Confirm Changes</h3>
		</div>
		<div class="modal-body">
			<h5 style="font-size: 16px; margin-bottom: 0px;">Are you sure?</h5>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()" ui-sref="app.users.manage_users.manage_patients.view_profile">Confirm</button>
			<button class="btn btn-red" ng-click="cancel()">Cancel</button>
		</div>
	</script>