<div ng-controller="editAssistantProfileCtrl" ui-view class="fade-in-up">

	<section id="page-title">
		<div class="row">

			<!-- Include breadcrumbs -->
			<div ncy-breadcrumb></div>

		</div>
	</section>

	<!-- start: Edit Patient User Profile -->
	<div class="container-fluid container-fullw bg-white">
		<form name="editAssistantForm" id="form1" novalidate>
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<fieldset>

						<!-- Personal Information -->
						<!-- First name form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editAssistantForm.firstName.$invalid && !editAssistantForm.firstName.$pristine, 'has-success':editAssistantForm.firstName.$valid }">
							<label>
								First Name <span class="symbol required"></span>
							</label>

							<!-- ng-pattern: Regular Expressions for Input -->
							<input type="text" name="firstName" class="form-control" placeholder="Enter first name" ng-model="thisAssistant.firstname" ng-pattern="/^([^0-9.~!@#$%&*()_+=;:?><,.]*)$/" required>
							<span class="error text-small block" ng-if="editAssistantForm.firstName.$dirty && editAssistantForm.firstName.$invalid">Enter a valid first name.</span>
						</div>

						<!-- Middle name form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editAssistantForm.middleName.$invalid, 'has-success':editAssistantForm.middleName.$valid }">
							<label class='control-label'>
								Middle Name
							</label>

							<!-- ng-pattern: Regular Expressions for Input -->
							<input type="text" name="middleName" class="form-control" placeholder="Enter middle name" ng-model="thisAssistant.middlename" ng-pattern="/^([^0-9.~!@#$%&*()_+=;:?><,.]*)$/">
							<span class="error text-small block" ng-if="editAssistantForm.middleName.$dirty && editAssistantForm.middleName.$invalid">Enter a valid middle name.</span>
						</div>

						<!-- Last name form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editAssistantForm.lastName.$invalid && !editAssistantForm.lastName.$pristine, 'has-success':editAssistantForm.lastName.$valid }">
							<label class="control-label">
								Last Name <span class="symbol required"></span>
							</label>
							<input type="text" name="lastName" class="form-control" placeholder="Enter last name" ng-model="thisAssistant.lastname" ng-pattern="/^([^0-9.~!@#$%&*()_+=;:?><,.]*)$/" required>
							<span class="error text-small block" ng-if="editAssistantForm.lastName.$dirty && editAssistantForm.lastName.$invalid">Enter a valid last name.</span>
						</div>		

						<!-- Contact Information -->
						<!-- Phone number form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editAssistantForm.phoneNumber.$invalid && !editAssistantForm.phoneNumber.$pristine, 'has-success':editAssistantForm.phoneNumber.$valid }">
							<label for="form-field-mask-2">
								Phone Number <span class="symbol required"></span>
							</label>
							<div class="input-group">
								<input type="text" class="form-control" name="phoneNumber" placeholder="xxx-xxx-xxxx" ng-model="thisAssistant.phone" ng-pattern="/^(\+0?1\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$|(^\d{10}$)/" ng-max-length="12" required>
								<span class="error text-small block" ng-if="editAssistantForm.phoneNumber.$dirty && editAssistantForm.phoneNumber.$invalid">Enter a valid phone number.</span>
							</div>
						</div>

						<!-- Street address form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editAssistantForm.addressLine1.$invalid && !editAssistantForm.addressLine1.$pristine, 'has-success':editAssistantForm.addressLine1.$valid }">
							<label>
								Address Line #1 <span class="symbol required"></span>
							</label>
							<input type="text" name="addressLine1" class="form-control" placeholder="Enter address" ng-model="thisAssistant.street" ng-pattern="/[\w\s]+/" required>
							<span class="error text-small block" ng-if="editAssistantForm.addressLine1.$dirty && editAssistantForm.addressLine1.$invalid">Enter a valid address.</span>
						</div>	

						<div class="form-group" ng-class="{ 'has-error': editAssistantForm.addressLine2.$invalid, 'has-success':editAssistantForm.addressLine2.$valid }">
							<label class='control-label'>
								Address Line #2
							</label>
							<input type="text" name="addressLine2" class="form-control" placeholder="Enter address" ng-model="thisAssistant.aptno" ng-pattern="/[\w\s]+/">
							<span class="error text-small block" ng-if="editAssistantForm.addressLine2.$dirty && editAssistantForm.addressLine2.$invalid">Enter a valid address.</span>
						</div>

						<!-- State form selection and validation -->
						<div class="form-group" ng-class="{ 'has-error': editAssistantForm.state.$invalid, 'has-success':editAssistantForm.state.$valid }">
							<label class='control-label'>
								Address Line #2
							</label>
							<input type="text" name="state" class="form-control" placeholder="Enter state" ng-model="thisAssistant.st" ng-pattern="/[\w\s]+/">
							<span class="error text-small block" ng-if="editAssistantForm.state.$dirty && editAssistantForm.state.$invalid">Enter a valid state.</span>
						</div>

						<!-- City form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editAssistantForm.city.$invalid && !editAssistantForm.city.$pristine, 'has-success':editAssistantForm.city.$valid }">
							<label>
								City <span class="symbol required"></span>
							</label>
							<input type="text" name="city" class="form-control" placeholder="Enter city" ng-model="thisAssistant.city" ng-pattern="/^([^0-9.~!@#$%&*()_+=;:?><,.]*)$/" required>
							<span class="error text-small block" ng-if="editAssistantForm.city.$dirty && editAssistantForm.city.$invalid">Enter a valid city.</span>
						</div>

						<!-- State form selection and validation -->
						<div class="form-group" ng-class="{ 'has-error': editAssistantForm.state.$invalid, 'has-success':editAssistantForm.state.$valid }">
							<label class='control-label'>
								State
							</label>
							<input type="text" name="state" class="form-control" placeholder="Enter state" ng-model="thisAssistant.st" ng-pattern="/[\w\s]+/">
							<span class="error text-small block" ng-if="editAssistantForm.state.$dirty && editAssistantForm.state.$invalid">Enter a valid state.</span>
						</div>

						<!-- Country or Region form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editAssistantForm.countryRegion.$invalid && !editAssistantForm.countryRegion.$pristine, 'has-success':editAssistantForm.countryRegion.$valid }">
							<label>
								Country or Region <span class="symbol required"></span>
							</label>
							<input type="text" name="countryRegion" class="form-control" placeholder="Enter country or region" ng-model="thisAssistant.country" ng-pattern="/[\w\s]+/" required>
							<span class="error text-small block" ng-if="editAssistantForm.countryRegion.$dirty && editAssistantForm.countryRegion.$invalid">Enter a valid country or region.</span>
						</div>

						<!-- Zip code form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editAssistantForm.zipCode.$invalid && !editAssistantForm.zipCode.$pristine, 'has-success':editAssistantForm.zipCode.$valid }">
							<label>
								Zip Code <span class="symbol required"></span>
							</label>
							<input type="text" name="zipCode" class="form-control" placeholder="Enter zipcode" ng-model="thisAssistant.zipcode" maxlength="5" minlength="5" ng-pattern="/^([0-9])*$/" required>
							<span class="error text-small block" ng-if="editAssistantForm.zipCode.$dirty && editAssistantForm.zipCode.$invalid">Enter a valid zip code.</span>
						</div>	

						<!-- Email form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editAssistantForm.email.$invalid, 'has-success':editAssistantForm.email.$valid }">
							<label>
								Email
							</label>
							<div class="form-group">
								<input type="email" placeholder="Enter email" name="email" class="form-control" ng-model="thisAssistant.email" ng-pattern="/.+@.+\..+/">
								<span class="error text-small block" ng-if="editAssistantForm.email.$dirty && editAssistantForm.email.$invalid">Enter a valid email address.</span>
							</div>
						</div>

						<!-- Password form input and validation -->
						<div class="form-group" ng-class="{'has-error':editAssistantForm.password.$invalid, 'has-success':editAssistantForm.password.$valid}">
							<label>
								New Password
							</label>
							<input type="password" placeholder="Enter a temporary password" class="form-control" name="password" ng-model="thisAssistant.pssword" ng-pattern="/^(?=^.{8,25}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[~`!@$%^&*()_+?><-]).*$/" />
							<span class="help-block"><i class="ti-info-alt text-primary"></i>   Password must be 8 to 24 characters, include a special character (cannot be '#'), a number (0-9), and an uppercase letter (A-Z).</span>
							<span class="error text-small block" ng-if="editAssistantForm.password.$invalid">Enter a valid password (8 to 24 characters, include at least one special character and one uppercase letter)</span>
						</div>

						<!-- Password confirmation form input and validation -->
						<div class="form-group" ng-class="{'has-error': editAssistantForm.confirmPassword.$invalid, 'has-success':editAssistantForm.confirmPassword.$valid}">
							<label>
								Repeat Password
							</label>
							<input type="password" placeholder="Repeat new password" class="form-control" id="confirmPassword" ng-model="thisAssistant.confirmPassword" ng-pattern="thisPatient.pssword"/>
						</div>

						<div class="form-group" style="margin-top: 15px;">
							<a class="btn btn-red" ui-sref="app.users.manage_users.manage_assistants.view_profile" style="float: right">Cancel</a>
							<button class="btn btn-primary" ng-click="open('sm')" ng-disabled=" editAssistantForm.$invalid || thisAssistant.pssword != thisAssistant.confirmPassword" style="float: right; margin-right: 15px;">Save Changes</a>
						</div>

					</fieldset>
				</div>
				<!-- end: Edit Profile Button -->

			</div>
		</form>

	</div>
	<!-- end: View Current User Profile -->

	<!-- Modal Instance Script -->
	<script type="text/ng-template" id="modal1.html">
		<div class="modal-header">
			<h3 class="modal-title">Confirm Changes</h3>
		</div>
		<div class="modal-body">
			<h5 style="font-size: 16px; margin-bottom: 0px;">Are you sure?</h5>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">Confirm</button>
			<button class="btn btn-red" ng-click="cancel()">Cancel</button>
		</div>
	</script>