<div ng-controller="editMyProfileCtrl" ui-view class="fade-in-up" ng-cloak>

	<section id="page-title">
		<div class="row">

			<!-- Include breadcrumbs -->
			<div ncy-breadcrumb></div>

		</div>
	</section>

	<!-- start: Edit Current User Profile -->
	<div class="container-fluid container-fullw bg-white">
		<form name="editMyProfileForm" id="form1" novalidate>
			<div class="row">
				<div class="col-md-offset-2 col-md-8">

					<fieldset>

						<!-- Personal Information -->
						<!-- First name form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editMyProfileForm.firstName.$invalid && !editMyProfileForm.firstName.$pristine, 'has-success':editMyProfileForm.firstName.$valid }">
							<label>
								First Name <span class="symbol required"></span>
							</label>

							<!-- ng-pattern: Regular Expressions for Input -->
							<input type="text" name="firstName" class="form-control" placeholder="Enter first name" ng-model="thisUser.firstname" ng-pattern="/^([^0-9.~!@#$%&*()_+=;:?><,.]*)$/" required>
							<span class="error text-small block" ng-if="editMyProfileForm.firstName.$dirty && editMyProfileForm.firstName.$invalid">Enter a valid first name.</span>
						</div>

						<!-- Middle name form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editMyProfileForm.middleName.$invalid, 'has-success':editMyProfileForm.middleName.$valid }">
							<label class='control-label'>
								Middle Name
							</label>

							<!-- ng-pattern: Regular Expressions for Input -->
							<input type="text" name="middleName" class="form-control" placeholder="Enter middle name" ng-model="thisUser.middlename" ng-pattern="/^([^0-9.~!@#$%&*()_+=;:?><,.]*)$/">
							<span class="error text-small block" ng-if="editMyProfileForm.middleName.$dirty && editMyProfileForm.middleName.$invalid">Enter a valid middle name.</span>
						</div>

						<!-- Last name form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editMyProfileForm.lastName.$invalid && !editMyProfileForm.lastName.$pristine, 'has-success':editMyProfileForm.lastName.$valid }">
							<label class="control-label">
								Last Name <span class="symbol required"></span>
							</label>
							<input type="text" name="lastName" class="form-control" placeholder="Enter last name" ng-model="thisUser.lastname" ng-pattern="/^([^0-9.~!@#$%&*()_+=;:?><,.]*)$/" required>
							<span class="error text-small block" ng-if="editMyProfileForm.lastName.$dirty && editMyProfileForm.lastName.$invalid">Enter a valid last name.</span>
						</div>	

						<!-- Insurance company form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editMyProfileForm.insuranceCompany.$invalid, 'has-success':editMyProfileForm.insuranceCompany.$valid }" ng-if="thisUser.role =='patient'">
							<label>
								Insurance Company
							</label>
							<input type="text" name="insuranceCompany" class="form-control" placeholder="Enter insurance company" ng-model="thisUser.insurancecompanyname" ng-pattern="/[\w\s]+/">
							<span class="error text-small block" ng-if="editMyProfileForm.insuranceCompany.$dirty && editMyProfileForm.insuranceCompany.$invalid">Enter a valid insurance company name.</span>
						</div>	

						<!-- Contact Information -->
						<!-- Phone number form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editMyProfileForm.phoneNumber.$invalid && !editMyProfileForm.phoneNumber.$pristine, 'has-success':editMyProfileForm.phoneNumber.$valid }">
							<label for="form-field-mask-2">
								Phone Number <span class="symbol required"></span>
							</label>
							<div class="input-group">
								<input type="text" class="form-control" name="phoneNumber" placeholder="xxx-xxx-xxxx" ng-model="thisUser.phone" ng-pattern="/^(\+0?1\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$|(^\d{10}$)/" maxlength="10" required>
								<span class="error text-small block" ng-if="editMyProfileForm.phoneNumber.$dirty && editMyProfileForm.phoneNumber.$invalid">Enter a valid phone number.</span>
							</div>
						</div>

						<!-- Street address form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editMyProfileForm.addressLine1.$invalid && !editMyProfileForm.addressLine1.$pristine, 'has-success':editMyProfileForm.addressLine1.$valid }">
							<label>
								Address Line #1 <span class="symbol required"></span>
							</label>
							<input type="text" name="addressLine1" class="form-control" placeholder="Enter address" ng-model="thisUser.street" ng-pattern="/[\w\s]+/" required>
							<span class="error text-small block" ng-if="editMyProfileForm.addressLine1.$dirty && editMyProfileForm.addressLine1.$invalid">Enter a valid address.</span>
						</div>	

						<div class="form-group" ng-class="{ 'has-error': editMyProfileForm.addressLine2.$invalid, 'has-success':editMyProfileForm.addressLine2.$valid }">
							<label class='control-label'>
								Address Line #2
							</label>
							<input type="text" name="addressLine2" class="form-control" placeholder="Enter address" ng-model="thisUser.aptno" ng-pattern="/[\w\s]+/">
							<span class="error text-small block" ng-if="editMyProfileForm.addressLine2.$dirty && editMyProfileForm.addressLine2.$invalid">Enter a valid address.</span>
						</div>

						<!-- City form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editMyProfileForm.city.$invalid && !editMyProfileForm.city.$pristine, 'has-success':editMyProfileForm.city.$valid }">
							<label>
								City <span class="symbol required"></span>
							</label>
							<input type="text" name="city" class="form-control" placeholder="Enter city" ng-model="thisUser.city" ng-pattern="/^([^0-9.~!@#$%&*()_+=;:?><,.]*)$/" required>
							<span class="error text-small block" ng-if="editMyProfileForm.city.$dirty && editMyProfileForm.city.$invalid">Enter a valid city.</span>
						</div>

						<!-- State form selection and validation -->
						<div class="form-group" ng-class="{ 'has-error': editMyProfileForm.state.$invalid, 'has-success':editMyProfileForm.state.$valid }">
							<label class='control-label'>
								State
							</label>
							<input type="text" name="state" class="form-control" placeholder="Enter state" ng-model="thisUser.st" ng-pattern="/[\w\s]+/">
							<span class="error text-small block" ng-if="editMyProfileForm.state.$dirty && editMyProfileForm.state.$invalid">Enter a valid state.</span>
						</div>

						<!-- Country or Region form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editMyProfileForm.countryRegion.$invalid && !editMyProfileForm.countryRegion.$pristine, 'has-success':editMyProfileForm.countryRegion.$valid }">
							<label>
								Country or Region <span class="symbol required"></span>
							</label>
							<input type="text" name="countryRegion" class="form-control" placeholder="Enter country or region" ng-model="thisUser.country" ng-pattern="/[\w\s]+/" required>
							<span class="error text-small block" ng-if="editMyProfileForm.countryRegion.$dirty && editMyProfileForm.countryRegion.$invalid">Enter a valid country or region.</span>
						</div>

						<!-- Zip code form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editMyProfileForm.zipCode.$invalid && !editMyProfileForm.zipCode.$pristine, 'has-success':editMyProfileForm.zipCode.$valid }">
							<label>
								Zip Code <span class="symbol required"></span>
							</label>
							<input type="text" name="zipCode" class="form-control" placeholder="Enter zipcode" ng-model="thisUser.zipcode" maxlength="5" minlength="5" ng-pattern="/^([0-9])*$/" required>
							<span class="error text-small block" ng-if="editMyProfileForm.city.$dirty && editMyProfileForm.city.$invalid">Enter a valid zip code.</span>
						</div>	

						<!-- Email form input and validation -->
						<div class="form-group" ng-class="{ 'has-error': editMyProfileForm.email.$invalid, 'has-success':editMyProfileForm.email.$valid }">
							<label>
								Email
							</label>
							<div class="form-group">
								<input type="email" placeholder="Enter email" name="email" id="email" class="form-control" ng-model="thisUser.email" ng-pattern="/.+@.+\..+/">
								<span class="error text-small block" ng-if="editMyProfileForm.email.$dirty && editMyProfileForm.email.$invalid">Enter a valid email address.</span>
							</div>
						</div>

						<!-- Password form input and validation -->
						<div class="form-group" ng-class="{'has-error':editMyProfileForm.password.$invalid, 'has-success':editMyProfileForm.password.$valid}">
							<label>
								New Password <span class="symbol required"></span>
							</label>
							<input type="password" placeholder="Enter new password" class="form-control" name="password" ng-model="thisUser.pssword" maxlength="24" minlength="8" ng-pattern="/^(?=^.{8,25}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[~`!@$%^&*()_+?><-]).*$/" />
							<span class="help-block"><i class="ti-info-alt text-primary"></i>   Password must be 8 to 24 characters, include a special character (cannot be '#'), a number (0-9), and an uppercase letter (A-Z).</span>
							<span class="error text-small block" ng-if="editMyProfileForm.password.$invalid">Enter a valid password (8 to 24 characters, include at least one special character and one uppercase letter)</span>
						</div>

						<!-- Password confirmation form input and validation -->
						<div class="form-group" ng-class="{'has-error': editMyProfileForm.confirmPassword.$invalid, 'has-success':editMyProfileForm.confirmPassword.$valid}">
							<label>
								Repeat Password
							</label>
							<input type="password" placeholder="Repeat new password" class="form-control" id="confirmPassword" ng-model="thisUser.confirmPassword" ng-pattern="thisUser.pssword"/>
						</div>

						<div class="form-group" style="margin-top: 35px;">
							<a class="btn btn-red" ui-sref="app.users.view_my_profile" style="float: right">Cancel</a>
							<button class="btn btn-primary" ng-click="open('sm')" ng-disabled="editMyProfileForm.$invalid || thisUser.pssword != thisUser.confirmPassword" style="float:right;margin-right:15px;">Save Changes</a>
						</div>

					</fieldset>

				</div>
			</div>
		</div>
		<!-- end: View Current User Profile -->

		<!-- Modal Instance Script -->
		<script type="text/ng-template" id="modal1.html">
			<div class="modal-header">
				<h3 class="modal-title">Confirm Changes</h3>
			</div>
			<div class="modal-body">
				<h5 style="font-size: 16px; margin-bottom: 0px;">Are you sure?</h5>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="ok()">Confirm</button>
				<button class="btn btn-red" ng-click="cancel()">Cancel</button>
			</div>
		</script>