<!-- start: Patient Login Page -->
<div ng-class="{'app-navbar-fixed': app.layout.isNavbarFixed == false}" ng-cloak></div>
<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4" ng-controller='patientLoginCtrl'>

        <!-- start: Patient Login Form -->
        <div class="box-login">
            <div>
            <form class="form-login">
                <fieldset>
                    <legend style="top: -20px; font-size: 20px;">
                        <img src="static/assets/images/ecsp-logo.png" alt="{{app.name}}" width="25" height="45" style="margin-right: 10px;"> Welcome to eCSP
                    </legend>
                    <div class="form-group">
                        <span class="input-icon">
                            <input type="text" class="form-control" ng-model="credentials.username" placeholder="Username" style="margin-top: 25px;" autofocus>
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="form-group form-actions">
                        <span class="input-icon">
                            <input type="password" class="form-control password" ng-model="credentials.password" placeholder="Password">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <div class="form-actions">
                        <label>
                            <a ui-sref="login.admin_signin">
                            Login as Admin
                            </a>
                        </label>
                        
                        <button type="submit" class="btn btn-primary pull-right" ng-click="validateLogin(credentials.username, credentials.password)" ng-disabled="!credentials.username || !credentials.password">
                            Login <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>

            <!-- start: eCSP Information -->
            <div class="copyright" style="padding-left:0; padding-right:0">
                <a href="https://www.doctorsegarra.com">wwww.doctorsegarra.com</a> | <a onclick="window.open('/#/home/contactUs')"> Contact Us</a> | {{app.year}} {{ app.author }}
            </div>
            <!-- end: eCSP Information -->

        </div>
        <!-- end: Patient Login Form -->
    </div>
</div>
<!-- end: Patient Login Page -->
