<!-- start: Top Navbar -->
<div class="navbar-collapse collapse" uib-collapse="navbarCollapsed" ng-init="navbarCollapsed = true" off-click="navbarCollapsed = true" off-click-if='!navbarCollapsed' off-click-filter="#menu-toggler">

	<!-- start: eCSP Logo and Title -->
	<ul class="nav navbar-left" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">
		<li style="margin-left: -10%;">
			<a ui-sref="app.home" class="navbar-brand">
				<img src="/assets/images/ecsp-logo.png" alt="{{app.name}}" width="25" height="45">
				<h2 style="margin: -50% 0% 0% 45%">eCSP</h2>
			</a>
		</li>
	</ul>
	<!-- end: eCSP Logo and Title -->

	<!-- start: Current User Profile and Log Out Buttons -->
	<ul class="nav navbar-right" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">

		<li class="dropdown current-user">
			<a ui-sref="app.users.view_my_profile">
				<i class="fa fa-user fa-inverse" alt="{{user.name}}"></i> 
				<span class="username"> {{user.name}} {{user.lastName}} </i></span> 
			</a>
		</li>

		<li class="dropdown current-user">
			<a href class="dropdown-toggle"> 
				<i class="fa fa-sign-out fa-inverse" alt="{{user.name}}"></i> 
				<span> Log Out </i></span> 
			</a>
		</li>
	</ul>
	<!-- end: Current User Profile and Log Out Buttons -->

	<!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
	<div class="close-handle visible-xs-block menu-toggler" ng-click="navbarCollapsed = true">
		<div class="arrow-left"></div>
		<div class="arrow-right"></div>
	</div>
	<!-- end: MENU TOGGLER FOR MOBILE DEVICES -->

</div>
<!-- end: Top Navbar -->