<div ui-view class="fade-in-up">
	<section id="page-title">
		<div class="row">

			<!-- Include breadcrumbs -->
			<div ncy-breadcrumb></div>
		</div>
	</section>

	<div class="container-fluid container-fullw bg-white" ng-controller="consultationDetailsCtrl">
		<div class="row">
			<div class="col-md-12" style="padding-right: 100px; padding-left: 50px;">
				
				<h2><span class="text-bold">Patient: </span>{{ currentUser.name }} {{ currentUser.lastName }}</h2>
				<br>

				<!-- start: Consultation Details Search Form -->
				<form>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-search"></i></div>
							<input type="text" class="form-control" placeholder="Search Documents" ng-model="consultationDetailsSearch">
						</div>      
					</div>
				</form>
				<!-- end: Consultation Details Search Form -->

				<!-- start: Table of Consultations Details -->
				<div class="table-responsive">
					<table class="table table-hover" style="width=50%;">
						<thead>
							<tr>
								<td>
									<a href="#" ng-click="sortType = 'documentName'; sortReverse = !sortReverse">
										Document Name
										<span ng-show="sortType == 'documentName' && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == 'documentName' && sortReverse" class="fa fa-caret-up"></span>
									</a>
								</td>
								<td>
									<a href="#" ng-click="sortType = 'documentType'; sortReverse = !sortReverse">
										Type of Document
										<span ng-show="sortType == 'documentType' && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == 'documentType' && sortReverse" class="fa fa-caret-up"></span>
									</a>
								</td>
								<td>
									<a href="#" ng-click="sortType = 'uploadDate'; sortReverse = !sortReverse">
										Date Uploaded 
										<span ng-show="sortType == 'uploadDate' && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == 'uploadDate' && sortReverse" class="fa fa-caret-up"></span>
									</a>
								</td>
								<td>
									<a href="#" ng-click="sortType = 'uploadedBy'; sortReverse = !sortReverse">
										Uploaded By 
										<span ng-show="sortType == 'uploadedBy' && !sortReverse" class="fa fa-caret-down"></span>
										<span ng-show="sortType == 'uploadedBy' && sortReverse" class="fa fa-caret-up"></span>
									</a>
								</td>
								<td>
									Action
								</td>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="document in documents | orderBy:sortType:sortReverse | filter:consultationDetailsSearch">
								<td> <i class="fa fa-file-text" style="margin-right: 5px;"></i> {{ document.documentName }}</td>
								<td>{{ document.documentType }}</td>
								<td>{{ document.uploadDate }}</td>
								<td>{{ document.uploadedBy }}</td>
								<td> 
									<!-- Download File Button -->
									<button type="button" class="btn btn-wide btn-blue">
										<i class="fa fa-download fa-inverse" style="margin-right: 5px;"></i> Download
									</button>

								</td>
							</tr>
						</tbody>

					</table>
				</div>
				<!-- end: Table of Consultations Details -->

				<!-- start: Upload Button -->
				<form>
					<div class="form-group">
						<button type="button" class="btn btn-wide btn-primary" style="float:left;  margin-top: -5px">
							<i class="fa fa-upload fa-inverse" style="margin-right: 5px;;"></i> Upload File
						</button>
						<span class="help-inline col-md-4 col-sm-6"> <i class="ti-info-alt text-primary"></i> Document must be PDF (*.pdf) </span>
					</div>
				</form>
				<!-- end: Upload Button -->

			</div>
		</div>
	</div>
</div>