<!-- start: DASHBOARD TITLE -->
<!-- <section id="page-title" class="padding-top-15 padding-bottom-15">
	<div class="row">
		<div class="col-sm-7">
			<h1 class="mainTitle">eCSP</h1>
			<span class="mainDescription">A KLC Tech Solutions Application</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section> -->

<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">eCSP</h1>
			<!-- <span class="mainDescription">A KLC Tech Solutions Application</span> -->
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: DASHBOARD TITLE -->
<!-- start: FEATURED BOX LINKS -->
<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-white no-radius text-center">
				<div class="panel-body">
					<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-folder-open-o fa-stack-1x fa-inverse"></i> </span>
					<br>
					<br>
					<h2 class="StepTitle">View Records</h2>
					<!--<p class="text-small">
						To add patients, you need to be signed in as the super user.
					</p>-->
					<!-- <p class="links cl-effect-1">
						<a href>
							view more
						</a>
					</p> -->
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-white no-radius text-center">
				<a ui-sref="app.manage_users"> <!-- Link to this page on click -->
					<div class="panel-body">
						<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-users fa-stack-1x fa-inverse"></i> </span>
						<br>
						<br>
						<h2 class="StepTitle">Manage Users</h2>
					<!--<p class="text-small">
						To add patients, you need to be signed in as the super user.
					</p>-->
					<!-- <p class="links cl-effect-1">
						<a href>
							view more
						</a>
					</p> -->
				</div>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-white no-radius text-center">
			<div class="panel-body">
				<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-edit fa-stack-1x fa-inverse"></i> </span>
				<br>
				<br>
				<h2 class="StepTitle">Edit Profile</h2>
					<!--<p class="text-small">
						To add patients, you need to be signed in as the super user.
					</p>-->
					<!-- <p class="links cl-effect-1">
						<a href>
							view more
						</a>
					</p> -->
				</div>
			</div>
		</div>
		<!-- <div class="col-sm-4">
			<div class="panel panel-white no-radius text-center">
				<div class="panel-body">
					<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i> </span>
					<h2 class="StepTitle">Manage Orders</h2>
					<p class="text-small">
						The Manage Orders tool provides a view of all your orders.
					</p>
					<p class="cl-effect-1">
						<a href>
							view more
						</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-white no-radius text-center">
				<div class="panel-body">
					<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
					<h2 class="StepTitle">Manage dis dick</h2>
					<p class="text-small">
						Store, modify, and extract information from your database.
					</p>
					<p class="links cl-effect-1">
						<a href>
							view more
						</a>
					</p>
				</div>
			</div>
		</div> -->
	</div>
</div>
