<!-- start: Homepage Title -->
<section id="page-title">
	<div class="row">

		<!-- Include Breadcrumbs -->
		<div ncy-breadcrumb></div>

	</div>
</section>
<!-- end: Homepage Title -->

<!-- start: Main Buttons -->
<div class="container-fluid container-fullw bg-white">
	<div class="row">

		<!-- start: View Records Button -->
		<div class="col-sm-4">
			<div class="panel panel-white no-radius text-center">

				<!-- Link to this page -->
				<a ui-sref="app.users.view_records">

					<div class="panel-body">
						<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-folder-open fa-stack-1x fa-inverse"></i> </span>
						<br>
						<br>
						<h2 class="StepTitle">View Records</h2>
						<p class="text-small">
							[Browse all patient medical records]
						</p>
					</div>
				</div>
			</div>
			<!-- end: View Records Button -->

			<!-- start: Manage Users (Patients and Assistants) Button -->
			<div class="col-sm-4">
				<div class="panel panel-white no-radius text-center">

					<!-- Link to this page -->
					<a ui-sref="app.users.manage_users">

						<div class="panel-body">
							<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-users fa-stack-1x fa-inverse"></i> </span>
							<br>
							<br>
							<h2 class="StepTitle">Manage Users</h2>
							<p class="text-small">
								[View or edit eCSP user profiles]
							</p>
						</div>
					</a>
				</div>
			</div>
			<!-- end: Manage Users Button -->

			<!-- start: Edit Profile Button -->
			<div class="col-sm-4">
				<div class="panel panel-white no-radius text-center">

					<!-- Link to this page -->
					<a ui-sref="app.users.edit_my_profile">

						<div class="panel-body">
							<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-pencil-square fa-stack-1x fa-inverse"></i> </span>
							<br>
							<br>
							<h2 class="StepTitle">Edit Profile</h2>
							<p class="text-small">
								[Edit your user profile details] {{ currentUser.name }} {{ currentUser.lastName }}
							</p>
						</div>
					</div>
				</div>
				<!-- end: Edit Profile Button -->
			</div>
		</div>
<!-- end: Main Buttons -->