<div ui-view class="fade-in-up">
	<section id="page-title">
		<div class="row">

			<!-- Include breadcrumbs -->
			<div ncy-breadcrumb></div>

		</div>
	</section>

	<div ng-controller="manageUsersCtrl">

		<!-- start: Add New User Button -->
		<div class="col-sm-4">
			<div class="panel panel-white no-radius text-center">

				<!-- Link to this page -->
				<a ui-sref="app.users.manage_users.add_new_user">

					<div class="panel-body">
						<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-plus fa-stack-1x fa-inverse"></i> </span>
						<br>
						<br>
						<h2 class="StepTitle">Add New User</h2>
						<p class="text-small">
							[Create a new patient or assistant]
						</p>
					</div>
				</a>
			</div>
		</div>
		<!-- end: Add New User Button -->

		<!-- start: Manage Patients Button -->
		<div class="col-sm-4">
			<div class="panel panel-white no-radius text-center">

				<!-- Link to this page -->
				<a ui-sref="app.users.manage_users.manage_patients">

					<div class="panel-body">
						<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-user-md fa-stack-1x fa-inverse"></i> </span>
						<br>
						<br>
						<h2 class="StepTitle">Manage Patients</h2>
						<p class="text-small">
							[View or edit patient profiles]
						</p>
					</div>
				</a>
			</div>
		</div>
		<!-- end: Manage Patients Button -->

		<!-- start: Manange Assistants Button -->
		<div class="col-sm-4">
			<div class="panel panel-white no-radius text-center">

				<!-- Link to this page -->
				<a ui-sref="app.users.manage_users.manage_assistants">

					<div class="panel-body">
						<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-users fa-stack-1x fa-inverse"></i> </span>
						<br>
						<br>
						<h2 class="StepTitle">Manage Assistants</h2>
						<p class="text-small">
							[View or edit assistant profiles]
						</p>
					</div>
				</a>
			</div>
		</div>
		<!-- end: Manage Patients Button -->

	</div>
</div>